<p> <%="#{@player_one} attacked #{@player_two}"%> </p>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Flaw-media%2Fuploads%2F131%2F58202%2Flarge%2Fkick_comic_boot_boom_ss.jpg%3F1537291519&f=1&nofb=1">