<H1> Enter Player Names </H1>
<form action="/names" method="post">
  <input type="text" name="player_one" placeholder="Enter P1 Name">
  <input type="text" name="player_two" placeholder="Enter P2 Name">
  <input type="submit" value="Play">
<form/>