<div>
  <p> <%="#{@game.player_one.name} vs #{@game.player_two.name}"%> </p>

  <h1>Battle</h1>

  <h4>Last Action</h4>
  <p> <%="#{@game.player_one.name}: #{@game.player_one.hp}/60 HP"%> </p>
  <form action="/attack">
    <input type="submit" value ="Attack" 
  <form> 
  <br>
  <br>
  <p> <%="#{@game.player_two.name}: #{@game.player_two.hp}/60 HP"%> </p>
</div>

