<div>
  <p> <%="#{@player_one} vs #{@player_two}"%> </p>

  <h1>Battle</h1>

  <h4>Last Action</h4>
  <p> <%="#{@player_one}: 60/60 HP"%> </p>
  <form action="/attack">
    <input type="submit" value ="Attack" 
  <form> 
  <br>
  <br>
  <p> <%="#{@player_two}: 60/60 HP"%> </p>
</div>

